@page

@model NudeSolutions.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your Insurance Claim</h1>
<form method="post">
    <div id="the whole thing" style="height:100%; width:100%; overflow: hidden;">
        <div asp-validation-summary="ModelOnly" class="text-danger" style="float: left; width:15%;"></div>
        <div class="form-group" style="float: left; width:15%; padding:5px 5px 5px 5px;">
            <label asp-for="InsuranceItem.InsuranceCategoryID" class="font-weight-bold">Category</label>
            <select asp-for="InsuranceItem.InsuranceCategoryID" class="form-control">
                <option value="1">Clothing</option>
                <option value="2">Electronics</option>
                <option value="3">Kitchen</option>
                <option value="4">Miscellaneous</option>
            </select>
            <span asp-validation-for="InsuranceItem.InsuranceCategoryID" class="text-danger"></span>
        </div>

        <div class="form-group" style="float: left; width:50%; padding:5px 5px 5px 5px;">
            <label asp-for="InsuranceItem.Name" class="font-weight-bold" style="font:bold;">Item Description</label>
            <input asp-for="InsuranceItem.Name" class="form-control" placeholder="Item Description" />
            <span asp-validation-for="InsuranceItem.Name" class="text-danger" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group" style="float: left; width:20%; padding:5px 5px 5px 5px; text-align:right">
            <label asp-for="InsuranceItem.Amount" class="font-weight-bold">Item Value</label>            
            <input asp-for="InsuranceItem.Amount" type="number" step=".01" class="form-control" style="text-align:right" placeholder="Item Value" />
            <span asp-validation-for="InsuranceItem.Amount" class="text-danger" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group" style="float: left; width:10%; padding:5px 5px 5px 5px;">
            <label class="control-label" style="visibility:hidden">*</label>
            <input type="submit" value="Add Item" class="btn btn-primary" style="vertical-align:bottom;" name="Submit"/>         
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th width="15%">
                <div style="width:100%; overflow: hidden;">
                    <div>
                        <div class="form-group" style="float: left; padding: 5px 5px 5px 5px;">
                            Category
                        </div>
                        <div class="form-group" style="float: left; padding:5px 0px 5px 0px;">
                            <form method="post">
                                <input type="image" name="submit" src="~/sort_blue_asc.png" title="Sort Ascending"
                                       border="0" alt="Edit" style="width: 18px;" asp-page-handler="Sort"
                                       onmouseover="this.src='sort_red_asc.png';"
                                       onMouseOut="this.src='sort_blue_asc.png';" />
                                <input type="hidden" name="id" value="1" />
                            </form>
                        </div>
                        <div class="form-group" style="float: left; padding:5px 0px 5px 0px;">
                            <form method="post">
                                <input type="image" name="submit" src="~/sort_blue_desc.png" title="Sort Descending"
                                       border="0" alt="Edit" style="width: 18px;" asp-page-handler="Sort"
                                       onmouseover="this.src='sort_red_desc.png';"
                                       onMouseOut="this.src='sort_blue_desc.png';" />
                                <input type="hidden" name="id" value="2" />
                            </form>
                        </div>
                    </div>
                </div>
            </th>
            <th width="50%">
                <div style="height:100%; width:100%; overflow: hidden;">
                    <div>
                        <div class="form-group" style="float: left; padding:5px;">
                            Name
                        </div>
                        <div class="form-group" style="float: left; padding:5px 0px 5px 0px;">
                            <form method="post">
                                <input type="image" name="submit" src="~/sort_blue_asc.png" title="Sort Ascending"
                                       border="0" alt="Edit" style="width: 18px;" asp-page-handler="Sort"
                                       onmouseover="this.src='sort_red_asc.png';"
                                       onMouseOut="this.src='sort_blue_asc.png';" />
                                <input type="hidden" name="id" value="3" />
                            </form>
                        </div>
                        <div class="form-group" style="float: left; padding:5px 0px 5px 0px;">
                            <form method="post">
                                <input type="image" name="submit" src="~/sort_blue_desc.png" title="Sort Descending"
                                       border="0" alt="Edit" style="width: 18px;" asp-page-handler="Sort"
                                       onmouseover="this.src='sort_red_desc.png';"
                                       onMouseOut="this.src='sort_blue_desc.png';" />
                                <input type="hidden" name="id" value="4" />
                            </form>
                        </div>
                    </div>
                </div>
            </th>
            <th width="20%">
                <div style="height:100%; width:100%; overflow: hidden; float:left; text-align:left;">
                    <div class="form-group" style="float: right; padding:5px 0px 5px 0px;">
                        <form method="post">
                            <input type="image" name="submit" src="~/sort_blue_desc.png" title="Sort Descending"
                                   border="0" alt="Edit" style="width: 18px;" asp-page-handler="Sort"
                                   onmouseover="this.src='sort_red_desc.png';"
                                   onMouseOut="this.src='sort_blue_desc.png';" />
                            <input type="hidden" name="id" value="6" />
                        </form>
                    </div>
                    <div class="form-group" style="float: right; padding:5px 0px 5px 0px;">
                        <form method="post">
                            <input type="image" name="submit" src="~/sort_blue_asc.png" title="Sort Ascending"
                                   border="0" alt="Edit" style="width: 18px;" asp-page-handler="Sort"
                                   onmouseover="this.src='sort_red_asc.png';"
                                   onMouseOut="this.src='sort_blue_asc.png';" />
                            <input type="hidden" name="id" value="5" />
                        </form>
                    </div>
                    <div class="form-group" style="float: right; padding: 5px;">
                        Amount
                    </div>
                </div>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InsuranceItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.InsuranceCategories.Where(category => category.ID == item.InsuranceCategoryID).FirstOrDefault().Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <form method="post" asp-route-id="@item.ID">                       
                        <input type="image" name="submit" src="~/delete.png" title="Delete" border="0" alt="Submit" style="width: 24px;" asp-page-handler="Delete" />
                        <input type="hidden" name="id" value="@item.ID" />
                    </form>
                </td>
            </tr>
        }
    <tr>
        <td class="font-weight-bold">
            Total Items: @Model.InsuranceItems.Count()
        </td>
        <td class="font-weight-bold">            
        </td>
        <td class="font-weight-bold" style="text-align:right">
            Total Value: @Model.InsuranceItems.Sum(items => items.Amount).ToString("C", System.Globalization.CultureInfo.CurrentCulture)
        </td>

    </tr>
    </tbody>
</table>